body{
    margin: 0px;
    background: whitesmoke;
}
.header{
  margin-top: 180px;
}
.footer{
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 40px;
}
.conteiner{
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
  flex-wrap: wrap;
  margin: 0px 134px 0px 175px;
}
.logo-text{
    height: 195px;
    width: 470px;
    margin: 118px 0px 0px 0px;
}
.logo{
    height: 106px;
    margin: -26px;
}
.text{
    font-size: 28px;
  margin: 15px 0px 0px 0px;
}
.entrance-all{
    height: 580px;
    width: 440px;
   
}
.entrance{
    align-items:center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
   margin: 15px 0px 0px 8px;
   padding: 20px 0px 25px 0px;
   max-width: 383px;
}
.all-email{
    margin: 0px 0px 0px 15px ;
}
.email{
    font-size: 17px;
    padding: 17px 10px;
    width: 330px;
    border-radius: 6px;
  border: 1px solid #dddfe2;
  
    
}
.parol{
    font-size: 17px;
    padding: 17px 10px;
    width: 330px;
    border-radius: 6px;
    margin: 13px 0px 13px 0px;
    border: 1px solid #dddfe2;
}
.button-1{
    margin: 0px 0px 13px 20px;
}
.button{
    padding: 13px 7px;
    width: 342px;
    border-radius: 6px;
    background: #1877f2;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
.link{
    font-size: 17px;
    color: #1877f2;
    margin: 0px 0px 5px 135px;
    cursor: pointer;
    text-decoration: none;
}
.hr{
    margin: 22px 25px 22px 25px ;
   
}
.button2{
    padding: 15px 7px;
    width: 225px;
    border-radius: 6px;
    background: #42b72a;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
.block-button{
   margin: 0px 0px 0px 76px ;
}
.page{
    color: black;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.text2{
   margin: 25px 0px 0px 20px ;
  width: 393px;
  font-size: 15px;
}
.company{
    margin: 0px 0px 0px 166px;
}

.language{
    font-size: 13px;
}
.lang{
    padding: 0px 15px 0px 0px;
    text-decoration: none;
    color: #737373;
}
.all-info{
  line-height: 17px;
    font-size: 13px;
}
.info{
    padding: 0px 15px 0px 0px;
    text-decoration: none;
    color: #737373;
}
.meta{
    margin: 5px 0px 0px 0px;
    font-size: 13px;
    color: #737373;
}

@media (max-width: 767px) {
    .logo-text{
        height: 195px;
        width: 376px;
        margin: 15px 0px -20px 0px;
    }
    .header{
        margin-top: 0px;
      }
      .conteiner{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
       flex-wrap: wrap;
       margin: 0px 0px 0px 0px;
     }
     .logo{
        height: 106px;
        margin: -26px;
        margin-left: 30px;
    }
    .entrance-all{
        height: 453px;
        width: 440px;
    }
    .entrance{
        align-items:center;
        background-color: #fff;
        border: none;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
        box-sizing: border-box;
       margin: 15px 23px 0px 23px;
       padding: 20px 0px 25px 0px;
    }
    .all-email{
        margin: 0px 0px 0px 10px ;
    }
    .button-1{
        margin: 0px 0px 13px 15px;
    }
    .link{
        font-size: 17px;
        color: #1877f2;
        margin: 0px 0px 5px 128px;
        cursor: pointer;
        text-decoration: none;
    }
    .block-button{
        margin: 0px 0px 0px 68px ;
     }
     .text2{
        margin: 25px 0px 0px 26px ;
       width: 393px;
       font-size: 14px;
     }
     .company{
        margin: 0px 0px 0px 145px;
    }
    .footer{
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 10px;
      }
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }